

#contact{
    background-color: #f8e8ed;
    padding: 20px 20px;
    margin-top: 19%;
    width: 60%;
    height: 392px;
    border-top-right-radius: 139px;
}
    
#contactForm{
        text-align: center;
        padding: 10px 10px;
    }

 .button{
        padding: 14px 79px;
        border-radius: 30px;
        border: none;
        background-color: #aa8eca;
        color: white;
        font-size: 20px;
    }

 input{
    width: 38%;
    border: none;
    height: 24px;
}

textarea{
    width: 38%;
    border: none;
    height: 50px;
}